* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: sans-serif;
}
/* esse codi acima zera todo o Css */

section {
    background: linear-gradient(#917E4E, rgb(255, 236, 196));
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4a3f22;
}

.form-content {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.295);
    margin: auto;
    padding: 4%;
    width: 85%;
    border: 2px solid black;
    border-radius: 4vw;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* align-items: center;  */

}



.action {
    width: 160px;
    height: 40px;
    background-color: black;
    border: 3px solid #F0CB47;
    border-radius: 10px;
    color: #ffffff;
    margin-right: 5%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: larger;
    align-self: end;
}

button:hover {
    background-color: #766537;
}

label {
    width: 90%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    margin: auto;
    padding: 12px;
    align-items: center;
}

input {
   width: 80%;
   align-items: center;
   height: 3vh;
}

textarea {
    width: 80%;
}

@media (min-width: 320px) and (max-width: 425px)  {
    label {
        font-size: large;
        flex-direction: column;
    }
}

@media (min-width: 768px)  {
    label {
        font-size: large;
    }
    
}

@media (min-width: 1440px)  {
    label {
        font-size: x-large;
    }
    
}