* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: sans-serif;
    color: white;
    text-align: justify;
    font-size: small;
}
/* esse codi acima zera todo o Css */

body {
    /* background: linear-gradient(black, rgb(63, 63, 63)); */
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(black),
            to(rgb(63, 63, 63))
        )
        fixed;
    padding: 10% 5%;
}

header {
    background-color: #14110f;
    color: #f0cb47;
    text-align: center;
    padding: 1rem 0;
}
.container {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.295);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #917e4e;
    border-radius: 2vw;
    width: 85%;
    padding: 4%;
    margin: auto;
}
.content {
    line-height: 1.6;
}
h1 {
    margin-bottom: 5%;
    font-size: x-large;
}

h2 {
    font-size: x-large;
    margin-bottom: 5%;
    margin: 1 auto;
}
p, li {
    font-size: large;
    font-style: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding-right: 15px;
}

@media (min-width: 768px)  {
    * {
        font-size: large;
    }
}

@media (min-width: 1440px)  {
    * {
        font-size: x-large;
    }
}
