* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: sans-serif;
}
/* esse codi acima zera todo o Css */


/* Gerar a borda curva no final da seção */

/* .curved-div {
    background: linear-gradient(#917E4E, rgb(255, 255, 255)) ;
    color: #000000;
    text-align: center;
} */

/* .curved-div h1 {
    font-size: 6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0;
}

.curved-div p {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.curved-div svg {
    display: block;
} */

body {
    background: linear-gradient(#917E4E, rgb(255, 241, 202));
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: medium;
    height: 100vh;
}   
h2 {
    margin-bottom: 3vh;
}
p {
    margin-top: 2vh;
}
.content {
    background-color: rgba(255, 255, 255, 0.150);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.295);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #917E4E;
    border-radius: 2vw;
    width: 85%;
    padding: 4%;
    margin: auto;
}

.container {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.295);
    margin: auto;
    padding: 4%;
    width: 85%;
    border: 2px solid black;
    border-radius: 4vw;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* align-items: center;  */

}

@media (min-width: 768px)  {
    p {
        font-size: large;
    }
}

@media (min-width: 1440px)  {
    p {
        font-size: x-large;
    }
    h2 {
        font-size: xx-large;
    }
}
