* {
    
    padding: 0px;;
    margin: 22px;;
    vertical-align:baseline;
    list-style:none;
    border: 1px;;
    font-family: sans-serif;
    
}

body {
    background: linear-gradient(#917E4E, rgb(255, 241, 202));
    display: flex;
    align-items: center;
    text-align: left;
    font-size: large;
    margin: 0;
    padding:0;
    height: 100vh;
}   
h1, p {

    margin: 5;
    padding: 5;
    

}
.container {
    background-color: rgba(255, 255, 255, 0.150);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.295);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #917E4E;
    border-radius: 2vw;
    width: 85%;
    padding:auto;
    margin: auto;
}

@media (min-width: 768px)  {
    p {
        font-size: large;
    }
}

@media (min-width: 1440px)  {
    p {
        font-size: x-large;
    }
    h2 {
        font-size: xx-large;
    }
}

/* esse codi acima zera todo o Css */


/* Gerar a borda curva no final da seção */

/* .curved-div {
    background: linear-gradient(#917E4E, rgb(255, 255, 255)) ;
    color: #000000;
    text-align: center;
} */

/* .curved-div h1 {
    font-size: 6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0;
}

.curved-div p {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.curved-div svg {
    display: block;
} */
