h2 {
    font-size: 32px;   
}
p {
    font-size: 20px;
    font-style: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    margin-left: 0 auto;
    padding-right: 15px;
    
}
